@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  font-size: 18px;
  max-width: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  letter-spacing: -0.05em;
}

p {
  font-weight: 400;
  /* font-size: 1.5em; */
  line-height: 1.375em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* width */
.scrollable::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scrollable::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.scrollable::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

/* Handle on hover */
.scrollable::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.scrollable {
  overflow: auto;
}

.paragraph {
  margin-bottom: 1em;
}

.personArticle {
  @apply flex space-x-10 flex-row justify-between;
}

.h3 {
  @apply text-2xl font-extrabold mb-2;
}
